In [1]:
import pandas as pd
import numpy as np

In [2]:
clfs = ['dtc', 'kneighbor', 'lda', 'lightgbm', 'qda', 'randomforest', 'svc']
dfs = []
for clf in clfs:
    df = pd.read_csv('submit-{}.csv'.format(clf), header=None)[1]
    df.name = clf
    dfs.append(df.to_frame())
submits = pd.concat(dfs, axis=1)
submits

      dtc  kneighbor  lda  lightgbm  qda  randomforest  svc
0       0          0    0         0    0             0    0
1       0          0    0         0    0             0    0
2       0          0    1         0    1             0    0
3       0          0    0         0    0             0    0
4       1          0    0         1    1             1    0
...   ...        ...  ...       ...  ...           ...  ...
6795    0          0    0         0    0             0    0
6796    0          0    0         0    0             0    0
6797    0          0    0         0    0             0    0
6798    0          0    0         0    0             0    0
6799    0          0    0         0    0             0    0

[6800 rows x 7 columns]

In [3]:
submits.corr()

,dtc,kneighbor,lda,lightgbm,qda,randomforest,svc
dtc,1.000000,0.746630,0.793160,0.892249,0.707859,0.936384,0.789276
kneighbor,0.746630,1.000000,0.804734,0.781570,0.711276,0.768278,0.792749
lda,0.793160,0.804734,1.000000,0.795543,0.767623,0.798521,0.875542
lightgbm,0.892249,0.781570,0.795543,1.000000,0.722268,0.923059,0.806146
qda,0.707859,0.711276,0.767623,0.722268,1.000000,0.733846,0.807690
randomforest,0.936384,0.768278,0.798521,0.923059,0.733846,1.000000,0.796452
svc,0.789276,0.792749,0.875542,0.806146,0.807690,0.796452,1.000000

In [4]:
submits.sum(axis=1) / len(clfs)

0       0.000000
1       0.000000
2       0.285714
3       0.000000
4       0.571429
          ...
6795    0.000000
6796    0.000000
6797    0.000000
6798    0.000000
6799    0.000000
Length: 6800, dtype: float64

In [5]:
sample_submit = pd.read_csv('sample_submit.csv', header=None)
sample_submit[1] = (submits.sum(axis=1) / len(clfs) > 0.5).astype(int)
sample_submit.to_csv('submit-ensemble.csv', header=False, index=False)