In [1]:
import json
from utils import load_datasets, load_target
import models

In [2]:
config = json.load(open('./config/default.json'))
# X_train, X_test = load_datasets(["Age", "AgeSplit", "EducationNum"])
X_train, X_test = load_datasets(config['features'])
y_train = load_target('Y')

In [3]:
y_train

0        0
1        1
2        0
3        1
4        1
        ..
10195    0
10196    0
10197    0
10198    0
10199    0
Name: Y, Length: 10200, dtype: int64

In [4]:
X_train

,age,age-split,education-num,fnlwgt,sex,workclass-?,workclass-Federal-gov,workclass-Local-gov,workclass-Private,workclass-Self-emp-inc,...,relationship-Other-relative,relationship-Own-child,relationship-Unmarried,relationship-Wife,race-Asian-Pac-Islander,race-Black,race-White,native-country-Mexico,native-country-Philippines,native-country-United-States
0,22,3,12,132618,0,0,0,0,1,0,...,0,1,0,0,0,0,1,0,0,1
1,22,3,9,132655,1,0,0,0,1,0,...,0,0,0,0,0,0,1,1,0,0
2,23,4,8,132674,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,36,7,13,132642,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
4,49,8,13,132646,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10195,31,6,9,132650,0,0,0,0,1,0,...,1,0,0,0,0,0,1,1,0,0
10196,36,7,9,132590,1,0,0,0,1,0,...,0,0,1,0,0,0,1,1,0,0
10197,36,7,13,132498,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
10198,17,1,9,132614,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
10199,36,7,4,132691,1,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [5]:
X_test

,age,age-split,education-num,fnlwgt,sex,workclass-?,workclass-Federal-gov,workclass-Local-gov,workclass-Private,workclass-Self-emp-inc,...,relationship-Other-relative,relationship-Own-child,relationship-Unmarried,relationship-Wife,race-Asian-Pac-Islander,race-Black,race-White,native-country-Mexico,native-country-Philippines,native-country-United-States
0,30,6,12,132646,1,0,0,0,1,0,...,0,0,1,0,0,0,1,1,0,0
1,30,6,4,132626,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,1
2,36,7,8,132505,1,0,0,0,1,0,...,0,0,0,0,0,0,1,1,0,0
3,23,4,9,132610,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
4,36,7,9,132468,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6795,31,6,9,132530,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
6796,31,6,6,132634,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
6797,31,6,13,132598,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
6798,23,4,8,132573,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
6799,23,4,9,132633,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1

In [6]:
X_train

,age,age-split,education-num,fnlwgt,sex,workclass-?,workclass-Federal-gov,workclass-Local-gov,workclass-Private,workclass-Self-emp-inc,...,relationship-Other-relative,relationship-Own-child,relationship-Unmarried,relationship-Wife,race-Asian-Pac-Islander,race-Black,race-White,native-country-Mexico,native-country-Philippines,native-country-United-States
0,22,3,12,132618,0,0,0,0,1,0,...,0,1,0,0,0,0,1,0,0,1
1,22,3,9,132655,1,0,0,0,1,0,...,0,0,0,0,0,0,1,1,0,0
2,23,4,8,132674,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,36,7,13,132642,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
4,49,8,13,132646,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10195,31,6,9,132650,0,0,0,0,1,0,...,1,0,0,0,0,0,1,1,0,0
10196,36,7,9,132590,1,0,0,0,1,0,...,0,0,1,0,0,0,1,1,0,0
10197,36,7,13,132498,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
10198,17,1,9,132614,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
10199,36,7,4,132691,1,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [7]:
from sklearn.model_selection import train_test_split
model = models.Lgbm(config['model_params']['Lgbm'])
model.fit(X_train, y_train)

In [ ]:
f

In [1]:
X_train

NameError: name 'X_train' is not defined

In [ ]:
model.predict(X_test)

In [ ]:
from models.evaluation import cross_validation_score

cv_score = cross_validation_score(model, X_train, y_train)

In [ ]:
print(cv_score)

In [ ]:
from models.evaluation import cross_validation_score
model = models.RandomForest(config["model_params"]["RandomForest"])
cv_score = cross_validation_score(model, X_train, y_train)

In [ ]:
print(cv_score)

In [ ]:
X_train

In [ ]:
lgbm = models.Lgbm(config["model_params"]["Lgbm"])
rf = models.RandomForest(config["model_params"]["RandomForest"])

model_list = [lgbm, rf]

In [ ]:
from models.evaluation import stacking

y_oof, y_pred = stucking(model_list, X_train, y_train, X_test, 2)

In [ ]:
y_oof

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_train, (y_oof>0.5).astype(int)))

In [ ]:
from models.tuning import beyesian_optimization
lgbm = models.Lgbm(config["model_params"]["Lgbm"])
beyesian_optimization(lgbm, X_train, y_train, {
    'objective': 'binary',
    'max_bin': [32, 255],
    'learning_rate': [0.001, 0.1],
    'num_leaves': [32, 128]
})

In [ ]:
lgbm